<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>IRIS_CLASSIFICATION</title>

</head>
<body style="bg-color='skyblue';text-align='center'">
 <div class="login">
	<h1>Flower Class Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
        Enter Length of Sepal:
    	<input type="text" name="Sepal_Length" placeholder="Sepal_Length" required="required" /><br><br>
        Enter Width of Sepal:
        <input type="text" name="Sepal_Width" placeholder="Sepal_Width" required="required" /><br><br>
        Enter Length of Petal:
		<input type="text" name="Petal_Length" placeholder="Petal_Length" required="required" /><br><br>
        Enter Width of Petal:
		<input type="text" name="Petal_Width" placeholder="Petal_Width" required="required" /><br><br>

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>